*{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
}

.header{
	padding:40px 80px;
	background:#000000;
	height:200px;
}
.main-menu{
	float:right;
}
.main-menu ul li{
	font-family:Bookman Old Style;
	font-size:24;
	list-style-type:none;
	display:inline;
	padding:20px;
	
}
.main-menu ul li a{
	text-decoration:none;
	color:#fdfafa;
}

.main-menu ul li a:hover{
	color:#000000;
	font-weight:bold;
	background-color:#bec4da;
}

.sub1{
	height:1200px;
}
.sub1 h1{
	padding:20px 750px;
	font-size:54px;
	font-family:Candara;
}
.lw-c{font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
font-size: 60pt;
text-align: center;
}
.sub1 h2{
font-family: Comic Sans MS;
font-size: 30px;
text-align: center;
color:#1d3d8d;
    
}
.text{
font-family: Comic Sans MS;
font-size: 24px;
text-align:left;
padding-left:650px;
}
.sub1 p{
font-family:Calibri;
font-size:18px;
text-align:left;
padding-left:650px;
}

.Pmsg{
font-size: 17.74pt;
text-align: center;
padding-left:220 ;
}
.sub1 input{
 margin:10px 650px;
 width:400px;
 height:30px;
 background-color:#eef2f4;
 border-color:#eef2f4;
 
}
#dots{
	padding-top:880px;
	padding-left:850px;
	
}
#comment{
	height:200px;
}

.right{
	float:right;
}
.left{
	float:left;
}
#part1{
	float:right;
	width:220px;
	margin-right:850px;
}
#part1 p{
	float:right;
	text-align:center;
	padding:5px 90px;
	
}

.box{
	width:170px;
	border-radius:10px;
	height:40px;
	margin-top:47px;
	background-color:#7889bf;
	
}
.box p a{
	font-size:20px;
	font-family:Cambria;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}
.footer
{
    width:100vw;
    height: 40vh;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

.input
{
    margin: 10px;
    width: 300px;
}


.footer{
	margin-top:600px;
}
.footer p{
	padding-top:30px;
	line-height:15px;
	font-family:Cambria;
	font-size:24px;
}

.footer img{
	padding-top:20px;
}
.input{
	border-radius:10px;
}
